In [1]:
import tensorflow as tf
import tensorflow_datasets as tfds
import os
import re
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import os

path_to_Chatbot_data = os.getenv('HOME')+'/aiffel/transformer_chatbot/data/ChatbotData .csv'

In [3]:
path_to_Chatbot_data

'/aiffel/aiffel/transformer_chatbot/data/ChatbotData .csv'

In [4]:
data = pd.read_csv(path_to_Chatbot_data)

In [5]:
data['Q'] = data['Q'].str.strip()
data['A'] = data['A'].str.strip()
data.replace('', np.nan, inplace=True)

In [6]:
data.head()

                 Q            A  label
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [8]:
data.isnull().sum()

Q        0
A        0
label    0
dtype: int64

In [9]:
data.dropna(inplace=True)

In [ ]:
def preprocess_sentence(sentence):
    # 입력받은 sentence의 양쪽 공백을 제거
    sentence = sentence.strip()

    # 단어와 구두점(punctuation) 사이의 거리를 만듭니다.
    sentence = re.sub(r"([?.!,])", r" \1 ", sentence)
    sentence = re.sub(r'[" "]+', " ", sentence)

    #  a-z, A-Z, ".", "?", "!", ",", 한글을 제외한 모든 문자를 공백인 ' '로 대체
    sentence = re.sub(r"[^a-zA-Z?.!,ㄱ-ㅎㅏ-ㅣ가-힣]+", " ", sentence)
    
    sentence = sentence.strip()
    return sentence